<div id="proyects">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center m-2">
    <div>
      <h3>Proyectos</h3>
      <h6>Proyectos realizados hasta la actualidad</h6>
    </div>
    <button *ngIf="authUser" class="btn text-white">
      <span class="material-icons fs-1">add_circle</span>
    </button>
  </div>
  <ul class="row">
    <li class="col-xs-6 col-sm-6 col-md-3 col-lg-3" *ngFor="let project of projectList">
      <div class="card p-5">
        <img [src]="project.image" class="card-img-top img-fluid">
        <div class="card-body">
          <a [href]="project.link" class="text-decoration-none">
            <h4>{{project.name}}</h4>
          </a>
          <p>{{project.description}}</p>          
          <button *ngIf="authUser" class="btn">
            <span class="material-icons">edit</span>
          </button>
          <button *ngIf="authUser" class="btn">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
