#proyects{
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #e2b700;
}
h3, h6{       
    color: white ;
}
h4, .btn{
    color: #e2b700;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.card{
    border-radius: 30px;
}