<div class="row p-5" id="education">
  <div class="d-grid gap-3 d-md-flex justify-content-md-start m-2">
    <div>
      <h3>Formación Academica</h3>
      <h5>Mis estudios</h5>
    </div>
    <button *ngIf="authUser" class="btn">
      <span class="material-icons fs-1">add_circle</span>
    </button>
  </div>
  <div>
    <ul>
      <li class="row p-2" *ngFor="let education of educationList">
        <div class="col-lg-1">
          <img [src]="education.image" alt="" class="img-fluid">
        </div>
        <div class="col-lg-11">
          <div class="d-grid gap-3 d-md-flex justify-content-md-start m-2">
            <h4>{{education.title}}</h4>
            <div>
              <button *ngIf="authUser" class="btn">
                <span class="material-icons">edit</span>
              </button>
              <button *ngIf="authUser" class="btn">
                <span class="material-icons">delete</span>
              </button>
            </div>
          </div>
          <h6>{{education.institution}}</h6>
          <p><span>{{education.start}}</span> - <span>{{education.end}}</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>
