div{
    text-align: right;
    background-color: #e38b72;
    box-sizing: border-box;
}
h3, h4, h6, p{       
    color: white;
}
ul{
    list-style: none;
}
img{    
    width: 70%;
    align-content: center;
}